header {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.pie {
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    overflow: hidden;
  
    button,
    button:focus {
      outline: none;
      background: url('../assets/img/1.png');
      border: thin solid white;
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      left: 50%;
      bottom: 50%;
      padding: 0;
      transform-origin: bottom left;
      transition: all 200ms ease-out;
      object-fit:cover;
      &:hover {
        box-shadow: 0px 0px 10px 5px #515151;
        z-index: 1;
      }
      .text {
        position: absolute;
        bottom: 5px;
        padding: 0px;
        color: #333;
        left: 5px;
      }
    }
  }


  /**
 * Circular menu v2
 */
* { margin: 0; padding: 0; }
html { font: 100%/1.3 Century Gothic, Verdana, sans-serif; }
body { overflow: hidden; min-width: 20em; }
.menuopt { display: none; }
.circle, .circle:before, .circle:after { border-radius: 50%; }
nav {
	margin: 5em auto;
	min-width: 16em; width: 72%; max-width: 40em;
}
nav ul {
	position: relative;
	padding: 50%;
	max-width: 0; max-height: 0;
	box-shadow: 0 0 .5em rgba(0,0,0,.5);
	list-style: none;
	background: white;
}
nav li {
	position: absolute;
	transition: 2s;
}
.slice {
	overflow: hidden;
	position: absolute;
	top: 0; left: 0;
	width: 50%; height: 50%;
	transform-origin: 100% 100%;
}
.unsel {
	top: 34%; left: 34%;
	width: 32%; height: 32%;
	/* box-shadow: 0 0 .75em; */
	background: #FACF41;
}
.technology { transform: skewX(45deg); }
.marketing { transform: rotate(45deg) skewX(45deg); }
.purchasing { transform: rotate(90deg) skewX(45deg); }
.resourcelibrary { transform: rotate(135deg) skewX(45deg); }
.sales { transform: rotate(180deg) skewX(45deg); }
.peopleplanning { transform: rotate(-135deg) skewX(45deg); }
.finance { transform: rotate(-90deg) skewX(45deg); }
.operations { transform: rotate(-45deg) skewX(45deg); }
/* .raspberry { transform: rotate(-40deg) skewX(50deg); } */
.magnifiable { height: 100%; }
nav label { cursor: pointer; }
.slice label {
	display: block;
	width: 200%; height: 200%;
	transform: skew(-45deg) rotate(-67deg);
	box-shadow: 0 0 .1em black;
	opacity: 1;
	color: white;
	font-size: .8em;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	transition: 1s;
    text-transform: uppercase;
}
.slice label:before {
	position: absolute;
	top: 10%; left: 10%;
	width: 80%; height: 80%;
	border-radius: 50%;
	/* box-shadow: 0 0 1em rgba(0,0,0,.5); */
	/* background-position: 50% 0; */
	background-repeat: no-repeat;
	/* background-size: 45% 45%; */
    opacity: .5;
	content: '';
}
.slice label:hover { opacity: 1; }
.dark label:hover { color: white; }
.light label:hover { color: black; }
.unsel label {
	display: block;
	height: 100%;
    background: url('../assets/img/g.png');
    background-repeat: no-repeat;
    transform: translate(30%, 35%);
	/* background: radial-gradient(rgba(0,0,0,.5), transparent 50%); */
}
.technology label, .otechnology:checked ~ nav .unsel { background: #021D49; }
.marketing label, .omarketing:checked ~ nav .unsel { background: #021D49; }
.purchasing label, .opurchasing:checked ~ nav .unsel { background: #021D49; }
.resourcelibrary label, .oresourcelibrary:checked ~ nav .unsel { background: #021D49; }
.sales label, .osales:checked ~ nav .unsel { background: #021D49; }
.peopleplanning label, .opeopleplanning:checked ~ nav .unsel { background: #021D49; }
.finance label, .ofinance:checked ~ nav .unsel { background: #021D49; }
.operations label, .ooperations:checked ~ nav .unsel { background: #021D49; }
.raspberry label, .oraspberry:checked ~ nav .unsel { background: #021D49; }
.technology label:before { background-image: url('../assets/img/1.png'); }
.marketing label:before { background-image: url('../assets/img/2.jpg'); }
.purchasing label:before { background-image: url('../assets/img/3.jpg'); }
.resourcelibrary label:before { background-image: url('../assets/img/4.png'); }
.sales label:before { background-image: url('../assets/img/5.jpg'); }
.peopleplanning label:before { background-image: url('../assets/img/3.jpg'); }
.finance label:before { background-image: url('../assets/img/2.jpg'); }
.operations label:before { background-image: url('../assets/img/1.png'); }
.raspberry label:before { background-image: url(http://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Raspberries05.jpg/220px-Raspberries05.jpg); }
.slice label:hover:after { opacity: 0; }
.otechnology:checked ~ nav .technology { transform: skewX(45deg) scale(1.05); }
.omarketing:checked ~ nav .marketing { transform: rotate(45deg) skewX(45deg) scale(1.05); }
.opurchasing:checked ~ nav .purchasing { transform: rotate(90deg) skewX(45deg) scale(1.05); }
.oresourcelibrary:checked ~ nav .resourcelibrary { transform: rotate(135deg) skewX(45deg) scale(1.05); }
.osales:checked ~ nav .sales { transform: rotate(180deg) skewX(45deg) scale(1.05); }
.opeopleplanning:checked ~ nav .peopleplanning { transform: rotate(-135deg) skewX(45deg) scale(1.05); }
.ofinance:checked ~ nav .finance { transform: rotate(-90deg) skewX(45deg) scale(1.05); }
.ooperations:checked ~ nav .operations { transform: rotate(-45deg) skewX(45deg) scale(1.05); }
.oraspberry:checked ~ nav .raspberry { transform: rotate(-40deg) skewX(45deg) scale(1.05); }
.otechnology:checked ~ nav .technology label, 
.omarketing:checked ~ nav .marketing label, 
.opurchasing:checked ~ nav .purchasing label, 
.oresourcelibrary:checked ~ nav .resourcelibrary label, 
.osales:checked ~ nav .sales label, 
.oraspberry:checked ~ nav .raspberry label {
	box-shadow: 0 0 .45em rgba(0,0,0,.5);
	opacity: 1; color: black;
}
.opeopleplanning:checked ~ nav .peopleplanning label , 
.ofinance:checked ~ nav .finance label, 
.ooperations:checked ~ nav .operations label {
	box-shadow: 0 0 .45em rgba(0,0,0,.5);
	opacity: 1; color: white;
}
@media (min-width: 25em) { .slice label { font-size: 1em; line-height: 2.3; } }
@media (min-width: 35em) { .slice label { font-weight: 700; line-height: 2.7; } }
  